<h1 class="text-primary">Edit article <%= @article.id %></h1>
<%= render "shared/errors", obj: @article %>
<%= form_with(model: @article, local: true, class: "card w-50") do |f| %>
  <%= render 'form', f: f %>
<% end %>
