<h1>All articles</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td> <a href="./<%= article.id %>"><%= article.title %></a></td>
        <td><%= article.description %></td>
        <td><a href="./<%=article.id%>/edit">Edit</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<ul>
</ul>
