<h1 class="card-title text-primary">Create a new article</h1>
<%= render "shared/errors", obj: @article %>
<%= form_with scope: :article, url: articles_path, local: true, class: "card w-50" do |f| %>
  <%= render 'form', f: f %>
<% end %>
