  
<section class="align-middle d-flex flex-column align-items-center">
  <h1 class="text-danger">Hello rails!</h1>
  <h2>This is an educational project by Igor Slepenkov</h2>
  <h3>And this is a Home page</h3>
</section>
