<section class="homepage h-100 align-middle d-flex flex-column align-items-center justify-content-center">
  <div class="homepage-text w-75 align-middle d-flex flex-column align-items-center justify-content-center text-center">
    <h1 class="text-danger">Hello rails!</h1>
    <h2 class="text-info">Welcome to the Alpha Blog, educational project made by Igor Slepenkov!</h2>
    <h3 class="text-info">To start using our application please sign up or login</h3>
    <div class="btn-group">
      <%= link_to( 'Sign Up', signup_path, class: 'btn btn-primary rounded-pill me-3')%>
      <%= link_to( 'Log in', login_path, class: 'btn btn-primary rounded-pill')%>
    </div>
  </div>
</section>
