<h1 class="card-title text-primary">Create new category</h1>
<%= render "shared/errors", obj: @category %>
<%= render 'form' %>
<% if logged_in? && current_user.admin? %>
  <%= link_to "Cancel and go back to categories", categories_path, class: "nav-link" %>
<% end %>
