<footer class="container-fluid d-flex justify-content-between p-3 bg-primary bg-gradient rounded-3">
  <p class="text-light">@All rights reserved</p>
  <p class="text-light">Alpha blog team</p>
</footer>
